*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    display: flex;
    flex-direction: column;
}
.navbar-container{
    width: 100%;
    height: 120px;
    background-color:black;
    display: flex;
}
.navbar-logo{
    color: white;
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}
@-webkit-keyframes rotating{
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
}
@keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
}
.navbar-logo:hover i{
    -webkit-animation: rotating 4s linear infinite;
    -moz-animation: rotating 4s linear infinite;
    -ms-animation: rotating 4s linear infinite;
    -o-animation: rotating 4s linear infinite;
    animation: rotating 4s linear infinite;
}
.navbar-function-container{
    width: 59%;
    height: 100%;
    display: flex;
    margin-right: 1%;
}
.navbar-function{
    width: 25%;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 70px;
}
.navbar-function-con{
    width: 100%;
    height: 35px;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.navbar-function-p{
    cursor: pointer;
}
.fas, .navbar-function-p{
    padding-left: 5px;
    padding-right: 5px;
}
.navbar-function-bar{
    width: 100%;
    height: 5px;
    background-color: white;
    border-radius: 2px;
    display: none;
}
.navbar-side-menu{
    width: 59%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    text-align: right;
    margin-right: 50px;
    display: none;
}
.navbar-side-menu i{
    color: white;
    cursor: pointer;
}
#cancel-side{
    display: none;
}

/*side menu*/
.side-menu-container{
    width: 100%;
    height: 100vh;
    background-color: black;
    transition: .3s ease-out;
    display: none;
}
.side-menu-container ul{
    width: 100%;
    height: 100%;
}
.side-menu-container li{
    width: 100%;
    height: 60px;
    color: white;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    font-size: 25px;
    cursor: pointer;
}
.side-menu-container li:hover{
    border: 2px solid white;
}

/*body part*/
video{
    object-fit: cover;
    width: 100%;
    height: 100%;
    position:absolute;
    z-index: -1;
}
.body-container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    object-fit: contain;
}
.body-container-div{
    height: 80%;
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 50px;
}
.selection-box{
    width: 200px;
    height: 50px;
    display: flex;
    justify-items: center;
    align-items: center;
}
.selection-flag{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: black;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin: 0 5px;
}
.selection-flag img{
    width: 40px;
    height: 40px;
}
.body-container-div select{
    width: 120px;
    height: 40px;
    outline: none;
    border: none;
    padding: 0 10px;
    border-radius: 20px;
    background-color: black;
    color: white;
    margin: 5px;
}
.displaying-box{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding-top: 30px;
}
.displaying-box div{
    width: 200px;
    height: 150px;
    border-radius: 30px;
    color: white;
    margin: 10px;
    opacity: 0.7;
    /* background-color: black; */
}
.displaying-box div:nth-child(1){
    background-color: hsl(244, 53%, 70%);
}
.displaying-box div:nth-child(1) p:nth-child(1){
    background-color: hsl(244, 53%, 50%);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    font-weight: bold;
}
.displaying-box div:nth-child(2){
    background-color: hsl(353, 93%, 70%);
}
.displaying-box div:nth-child(2) p:nth-child(1){
    background-color: hsl(353, 93%, 50%);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    font-weight: bold;
}
.displaying-box div:nth-child(3){
    background-color: hsl(353, 6%, 70%);
}
.displaying-box div:nth-child(3) p:nth-child(1){
    background-color: hsl(353, 6%, 50%);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    font-weight: bold;
}
.displaying-box div p{
    width: 100%;
    height: 40%;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: white;
}
.displaying-box div p:nth-child(2){
    height: 60%;
}
.small-date{
    width: 100%;
    height: 40px;
}

/*section part*/
.section-container{
    width: 100%;
    height: auto;
    background-color: black;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    padding: 30px 50px;
}
.section-container-div-con{
    width: 700px;
    height: auto;
    background-color:black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.section-container-div-half{
    width: 330px;
    height: 250px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    position: relative;
    margin: 10px;
}
#sec-prevention{
    background-image: url('../img/preventation.jpg');
}
#sec-statistic{
    background-image: url('../img/statistic.jpg');
}
#sec-symptoms{
    background-image: url('../img/symptoms.jpg');
}
#sec-treatment{
    background-image: url('../img/treatment.jpg');
}
.section-pic{
    width: 99%;
    height: 98%;
    border-radius: 20px;
    background-size: cover;
    position: relative;
    align-items: center;
    background-position: center;
    display: flex;
    flex-direction: column;
}
.section-pic:hover{
    background-size: 115%;
}
.section-div{
    width: 99%;
    height: 40px;
    position: absolute;
    bottom: 15px;
    background: rgba(255, 255, 255, .2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.section-div-p{
    color: white;
    font-size: 20px;
}

/*footer part*/
.footer-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 10px;
}
.footer-top{
    width: 100%;
    max-width: 1200px;
    height: auto;
    display: flex;
    justify-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}
.footer-div-container{
    width: 280px;
    height: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.footer-div-container a{
    text-decoration: none;
    color: white;
}
.footer-h3{
    font-size: 22px;
}
.footer-ul{
    list-style-type: none;
}
.footer-li{
    cursor: pointer;
    padding-top: 5px;
}
.footer-bottom{
    width: 100%;
    max-width: 1000px;
    height: 50px;
    color: white;
    display: flex;
    padding: 10px;
}
.footer-bottom p{
    width: 50%;
}
.footer-bottom-div{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.footer-bottom-div i{
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    color: white;
}
@media screen and (max-width: 800px){
    .body-container-div{
        width: 600px;
    }
    .section-container-div-con{
        width: 350px;
    }
    .section-container-div-half{
        width: 100%;
        height: 250px;
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center;
        position: relative;
        margin: 10px;
    }
    #function-bar{
        display: none;
    }
    #side-menu-bar{
        display: flex;
    }
    
}
@media screen and (max-width: 600px){
    .body-container-div{
        width: 500px;
    }
    .displaying-box div{
        width: 170px;
        height: 120px;
    }
}
@media screen and (max-width: 500px){
    .body-container-div{
        width: 450px;
    }
    .displaying-box div{
        width: 150px;
        height: 110px;
    }
    .displaying-box div p{
        font-size: 15px;
    }
}
@media screen and (max-width: 460px){
    .navbar-logo{
        width: 60%;
        font-size: 20px;
    }
    .navbar-side-menu{
        width: 40%;
    }
    .side-menu-container li{
        font-size: 18px;
    }
    .body-container{
        height: 70vh;
    }
    .body-container-div{
        width: 400px;
    }
    .displaying-box div{
        width: 120px;
        height: 80px;
    }
    .displaying-box div p{
        font-size: 13px;
    }
}
@media screen and (max-width: 400px){
    .body-container-div{
        width: auto;
        padding: 20px;
    }
    .displaying-box div{
        width: 110px;
        height: 70px;
    }
    .displaying-box div p{
        font-size: 12px;
    }
}