*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.pre-body-container{
    background-color: black;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding: 50px 80px;
}
.body-con-div{
    width: 40%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 30px;
    margin: 20px 5px;
}
.body-con-div img{  
    width: 150px;
    height: 150px;
}
.con-div-text{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 0 20px;
}
.con-div-text p{
    text-align: justify;
}
.con-div-text h3, .con-div-text p{
    margin: 10px 0;
}
@media screen and (max-width: 1150px){
    .pre-body-container{
        padding: 50px;
    }
}
@media screen and (max-width: 1050px){
    .pre-body-container{
        padding: 50px 20px;
    }
}
@media screen and (max-width: 1000px){
    .pre-body-container{
        flex-direction: column;
    }
    .body-con-div{
        width: 100%;
    }
}
@media screen and (max-width: 600px){
    .body-con-div img{  
        width: 130px;
        height: 130px;
    }
    .con-div-text h3{
        font-size: 17px;
    }
    .con-div-text p{
        font-size: 15px;
    }
}
@media screen and (max-width: 500px){
    .body-con-div img{  
        width: 110px;
        height: 110px;
    }
    .con-div-text h3{
        font-size: 15px;
    }
    .con-div-text p{
        font-size: 13px;
    }
}