.sym-body-container{
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background-color: black;
}
.body-con-div{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin: 50px 0px;
}
.body-con-div img{
    width: 200px;
    height: 200px;
    border-radius: 30px;
}
.body-con-div div{
    width: 70%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.body-con-div div h3, .body-con-div div p{
    padding: 10px 40px;
    text-align: justify;
}

@media screen and (max-width: 800px){
    .body-con-div{
        justify-content: center;
        align-items: center;
        justify-items: center;
    }
    .body-con-div img{
        width: 180px;
        height: 180px;
    }
}
@media screen and (max-width: 650px){
    .sym-body-container{
        padding: 50px;
    }
    .body-con-div img{
        width: 160px;
        height: 160px;
    }
}
@media screen and (max-width: 550px){
    .sym-body-container{
        padding: 50px 30px;
    }
    .body-con-div img{
        width: 140px;
        height: 160px;
    }
}
@media screen and (max-width: 450px){
    .sym-body-container{
        padding: 50px 10px;
    }
    .body-con-div img{
        width: 130px;
        height: 160px;
    }
}