<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/index.css">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
</head>
<body>
    <header class="navbar-container">
        <div id="logo" class="navbar-logo">
            KEN<i class="fab fa-2x fa-asymmetrik"></i>
        </div>
        <div id="function-bar" class="navbar-function-container">
            <div class="navbar-function">
                <div id="con-home" class="navbar-function-con">
                    <p id="nav-home" class="navbar-function-p">Home</p><i class="fas fa-home"></i>
                </div>
                <div id="bar-home" class="navbar-function-bar"></div>
            </div>
            <div class="navbar-function">
                <div id="con-route" class="navbar-function-con">
                    <p id="nav-route" class="navbar-function-p">Route</p><i class="fas fa-route"></i>
                </div>
                <div id="bar-route" class="navbar-function-bar"></div>
            </div>
            <div class="navbar-function">
                <div id="con-mountain" class="navbar-function-con">
                    <p id="nav-mountain" class="navbar-function-p">Mountain</p><i class="fas fa-mountain"></i>
                </div>
                <div id="bar-mountain" class="navbar-function-bar"></div>
            </div>
            <div class="navbar-function">
                <div id="con-ancent" class="navbar-function-con">
                    <p id="nav-ancent" class="navbar-function-p">Ancient</p><i class="fas fa-archway"></i>
                </div>
                <div id="bar-ancent" class="navbar-function-bar"></div>
            </div>
        </div>
        <div id="side-menu-bar" class="navbar-side-menu">
            <i id="open-side" class="fas fa-2x fa-bars"></i>
            <i id="cancel-side" class="fas fa-2x fa-times"></i>
        </div>
    </header>
    <div id="side-menu" class="side-menu-container">
        <ul>
            <li>Home<i class="fas fa-home"></i></li>
            <li>Mountain<i class="fas fa-route"></i></li>
            <li>Routei<i class="fas fa-mountain"></i></li>
            <li>Ancient<i class="fas fa-archway"></i></li>
        </ul>
    </div>
    <div id="function-title1" class="function-title1"><p id="function-title-p">Route</p></div>
    <div id="function-title2" class="function-title2"><p id="function-title-p">Mountain</p></div>
    <div id="function-title3" class="function-title3"><p id="function-title-p">Ancient</p></div>
    <div id="main-index">
        <div class="body-container">
            <video src="video/video-2.mp4" muted autoplay loop></video>
            <div class="body-container-div">
                <h3 class="body-h2">GET STARTED</h3>
                <p class="body-p">Sign Up Now Before Its Late</p>
            </div>
        </div>
        <div class="section-container">
            <div class="section-container-div-con">
                <div class="section-container-div div1">
                    <div id="sec-mountain" class="big_pic">
                        <div class="section-div">
                            <p class="section-div-p">Mountain</p>
                        </div>
                    </div>
                </div>
                <div class="section-container-div div2">
                    <div class="section-container-div-half">
                        <div id="sec-route" class="small_pic1">
                            <div class="section-div">
                                <p class="section-div-p">Route</p>
                            </div>
                        </div>
                    </div>
                    <div class="section-container-div-half">
                        <div id="sec-ancient" class="small_pic2">
                            <div class="section-div">
                                <p class="section-div-p">Ancient</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer-container">
        <div class="footer-top">
            <div class="footer-div-half">
                <div class="footer-div-container">
                    <h3 class="footer-h3">Service</h3>
                    <ul class="footer-ul">
                        <a href="tel: +6012-7022260"><li class="footer-li">Call: +6012-7022260</li></a>
                        <a href="mailto:ken_037729@hotmail.com"><li class="footer-li">Email: ken_037729@hotmail.com</li></a>
                        <li class="footer-li">Linkedin: ken_037729@hotmail.com</li>
                    </ul>
                </div>
                <div class="footer-div-container">
                    <h3 class="footer-h3">Help</h3>
                    <ul class="footer-ul">
                        <li class="footer-li">Help Center</li>
                        <li class="footer-li">Help Forum</li>
                        <li class="footer-li">Video Tutorials</li>
                    </ul>
                </div>
            </div>
            <div class="footer-div-half">
                <div class="footer-div-container">
                    <h3 class="footer-h3">Develpers</h3>
                    <ul class="footer-ul">
                        <li class="footer-li">Developers API</li>
                        <li class="footer-li">Developer Forum</li>
                    </ul>
                </div>
                <div class="footer-div-container">
                    <h3 class="footer-h3">Community</h3>
                    <ul class="footer-ul">
                        <li class="footer-li">Blogger Buzz</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            KEN © 2021
            <div class="footer-bottom-div">
                <i class="fab fa-2x fa-instagram-square"></i>
                <i class="fab fa-2x fa-facebook"></i>
                <i class="fab fa-2x fa-whatsapp-square"></i>
            </div>
        </div>
    </footer>
    <script src="js/index.js"></script>
</body>
</html>