*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    display: flex;
    flex-direction: column;
}
.navbar-container{
    width: 100%;
    height: 120px;
    background-color:black;
    display: flex;
}
.navbar-logo{
    color: white;
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}
.navbar-function-container{
    width: 59%;
    height: 100%;
    display: flex;
    margin-right: 1%;
}
.navbar-function{
    width: 25%;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 70px;
}
.navbar-function-con{
    width: 100%;
    height: 35px;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.navbar-function-p{
    cursor: pointer;
}
.fas, .navbar-function-p{
    padding-left: 5px;
    padding-right: 5px;
}
.navbar-function-bar{
    width: 100%;
    height: 5px;
    background-color: white;
    border-radius: 2px;
    display: none;
}
.navbar-side-menu{
    width: 59%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    text-align: right;
    margin-right: 50px;
    display: none;
}
.navbar-side-menu i{
    color: white;
    cursor: pointer;
}
#cancel-side{
    display: none;
}
/*side menu*/
.side-menu-container{
    width: 100%;
    height: 100vh;
    background-color: black;
    transition: .3s ease-out;
    display: none;
}
.side-menu-container ul{
    width: 100%;
    height: 100%;
}
.side-menu-container li{
    width: 100%;
    height: 60px;
    color: white;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    font-size: 25px;
    cursor: pointer;
}
.side-menu-container li:hover{
    border: 2px solid white;
}
.function-title1{
    width: 100%;
    height: 100vh;
    background-image: url('../img/img-2.jpg');
    background-size: cover;
    display: none;
    color: white;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}
.function-title2{
    width: 100%;
    height: 100vh;
    background-image: url('../img/img-1.jpg');
    background-size: cover;
    display: none;
    color: white;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}
.function-title3{
    width: 100%;
    height: 100vh;
    background-image: url('../img/img-5.jpg');
    background-size: cover;
    display: none;
    color: white;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}
#function-title-p{
    margin-top: 40px;
}
/*body part*/
video{
    object-fit: cover;
    width: 100%;
    height: 100%;
    position:absolute;
    z-index: -1;
}
.body-container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    object-fit: contain;
}
.body-container-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.body-h2{
    width: 200px;
    height: 50px;
    background-color: white;
    color: black;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
}
.body-p{
    font-size: 25px;
    color: white;
    margin-top: 5px;
}
/*section part*/
.section-container{
    width: 100%;
    height: 800px;
    background-color: black;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
}
.section-container-div-con{
    width: 60%;
    height: 600px;
    background-color:black;
    display: flex;
}
.section-container-div{
    width: 50%;
    height: 100%;
}
.div1{
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
}
.div2{
    display: flex;
    flex-direction: column;
}
.section-container-div-half{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.big_pic{
    width: 99%;
    height: 99%;
    border-radius: 20px;
    background-image: url('../img/img-1.jpg');
    background-size: cover;
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.big_pic:hover{
    background-size: 115%;
}
.small_pic1{
    width: 99%;
    height: 98%;
    border-radius: 20px;
    background-image: url('../img/img-4.jpg');
    background-size: cover;
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.small_pic1:hover{
    background-size: 102%;
}
.small_pic2{
    width: 99%;
    height: 98%;
    border-radius: 20px;
    background-image: url('../img/img-8.jpg');
    background-size: cover;
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.small_pic2:hover{
    background-size: 102%;
}
.section-div{
    width: 99%;
    height: 40px;
    position: absolute;
    bottom: 15px;
    background: rgba(255, 255, 255, .2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.section-div-p{
    color: white;
    font-size: 20px;
}
/*footer part*/
.footer-container{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.footer-top{
    width: 100%;
    max-width: 1200px;
    height: 70%;
    display: flex;
}
.footer-div-half{
    width: 50%;
    height: 100%;
    display: flex;
}
.footer-div-container{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.footer-div-container a{
    text-decoration: none;
    color: white;
}
.footer-h3{
    font-size: 22px;
}
.footer-ul{
    list-style-type: none;
}
.footer-li{
    cursor: pointer;
    padding-top: 5px;
}
.footer-bottom{
    width: 100%;
    max-width: 1000px;
    height: 30%;
    color: white;
    display: flex;
}
.footer-bottom-div{
    margin-left: 700px;
}
.footer-bottom-div i{
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}
.fa-instagram-square{
    color:#F712E2;
}
.fa-whatsapp-square{
    color: #17F02D;
}
.fa-facebook{
    color: blue;
}
@media screen and (max-width: 1100px){
    .footer-container{
        height: 400px;
    }
    .footer-top{
        height: 80%;
        flex-direction: column;
        justify-items: center;
        justify-content: center;
        align-items: center;
    }
    .footer-bottom{
        height: 20%;
    }
    .footer-bottom{
        max-width: 800px;
    }
    .footer-bottom-div{
        margin-left: 500px;
    }
}
@media screen and (max-width: 1000px){
    .section-container-div-con{
        display: flex;
        flex-direction: column;
        height: 700px;
    }
    .div1{
        width: 100%;
        height: 33.33%;
    }
    .div2{
        width: 100%;
        height: 66.66%;
    }
    .footer-bottom{
        max-width: 700px;
    }
    .footer-bottom-div{
        margin-left: 400px;
    }
}
@media screen and (max-width: 800px){
    #function-bar{
        display: none;
    }
    #side-menu-bar{
        display: flex;
    }
    .footer-bottom{
        max-width: 600px;
    }
    .footer-bottom-div{
        margin-left: 300px;
    }
}