<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid 19 - Prevention</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/prevention.css">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" 
    integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
</head>
<body>
    <header class="navbar-container">
        <div id="logo" class="navbar-logo">
            Covid 19 Live Tracker<i class="fas fa-2x fa-virus"></i>
        </div>
        <div id="function-bar" class="navbar-function-container">
            <div class="navbar-function">
                <div id="con_symptoms" class="navbar-function-con">
                    <p id="nav_symptoms" class="navbar-function-p">Symptoms<i class="fas fa-head-side-cough"></i>
                </div>
                <div id="bar_symptoms" class="navbar-function-bar"></div>
            </div>
            <div class="navbar-function">
                <div id="con_statistics" class="navbar-function-con">
                    <p id="nav_statistics" class="navbar-function-p">Statistics<i class="fas fa-chart-pie"></i>
                </div>
                <div id="bar_statistics" class="navbar-function-bar"></div>
            </div>
            <div class="navbar-function">
                <div id="con_prevention" class="navbar-function-con">
                    <p id="nav_prevention" class="navbar-function-p">Prevention<i class="fas fa-people-arrows"></i>
                </div>
                <div id="bar_prevention" class="navbar-function-bar"></div>
            </div>
            <div class="navbar-function">
                <div id="con_treatment" class="navbar-function-con">
                    <p id="nav_treatment" class="navbar-function-p">Treatment<i class="fas fa-user-md"></i>
                </div>
                <div id="bar_treatment" class="navbar-function-bar"></div>
            </div>
        </div>
        <div id="side-menu-bar" class="navbar-side-menu">
            <i id="open-side" class="fas fa-2x fa-bars"></i>
            <i id="cancel-side" class="fas fa-2x fa-times"></i>
        </div>
    </header>
    <div id="side-menu" class="side-menu-container">
        <ul>
            <li id="side_symptoms">Symptoms<i class="fas fa-head-side-cough"></i></li>
            <li id="side_statistics">Statistics<i class="fas fa-chart-pie"></i></li>
            <li id="side_prevention">Prevention<i class="fas fa-people-arrows"></i></li>
            <li id="side_treatment">Treatment<i class="fas fa-user-md"></i></li>
        </ul>
    </div>
    <div class="pre-body-container">
        <div class="body-con-div">
            <img src="https://www.bbraun.com.my/content/dam/b-braun/global/website/patients/infectionprevention/Icons_Corona_RGB_Zeichenfl%C3%A4che%201.jpg.transform/400/image.jpg" alt="" srcset="">
            <div class="con-div-text">
                <h3>No handshaking</h3>
                <p>Even if it seems rude at first, refrain from shaking hands with each other. Avoid physical contact in general.</p>
            </div>
        </div>
        <div class="body-con-div">
            <img src="https://www.bbraun.com.my/content/dam/b-braun/global/website/patients/infectionprevention/Icons_Corona_RGB_Zeichenfl%C3%A4che%201%20Kopie.jpg.transform/400/image.jpg" alt="" srcset="">
            <div class="con-div-text">
                <h3>Clean your hands frequently</h3>
                <p>Clean your hands with an alcohol-based hand rub or wash your hands thoroughly with soap and water, 
                    especially before preparing food, before eating, or when you get home.</p>
            </div>
        </div>
        <div class="body-con-div">
            <img src="https://www.bbraun.com.my/content/dam/b-braun/global/website/patients/infectionprevention/Icons_Corona_RGB_Zeichenfl%C3%A4che%201%20Kopie%202.jpg.transform/400/image.jpg" alt="" srcset="">
            <div class="con-div-text">
                <h3>Keep your hands away from your face</h3>
                <p>Pathogens can easily pass from the hands to the mucous membranes of the eyes, nose, and mouth. Avoid touching your face.</p>
            </div>
        </div>
        <div class="body-con-div">
            <img src="https://www.bbraun.com.my/content/dam/b-braun/global/website/patients/infectionprevention/Icons_Corona_RGB_Zeichenfl%C3%A4che%201%20Kopie%203.jpg.transform/400/image.jpg" alt="" srcset="">
            <div class="con-div-text">
                <h3>Hygienic coughing and sneezing</h3>
                <p>When coughing, “hand over mouth” is well intended, but in doing so you catapult a large number of viruses out of your body, which then stick to your hands. 
                    So do not cough into your hands, but rather into your sleeve or a tissue.</p>
            </div>
        </div>
        <div class="body-con-div">
            <img src="https://www.bbraun.com.my/content/dam/b-braun/global/website/patients/infectionprevention/Icons_Corona_RGB_Zeichenfl%C3%A4che%201%20Kopie%204.jpg.transform/400/image.jpg" alt="" srcset="">
            <div class="con-div-text">
                <h3>Discard used tissues immediately</h3>
                <p>Throw used tissues immediately into the trash – preferably into a container with a garbage bag that you can close tightly and dispose of regularly. 
                    Then please wash your hands.</p>
            </div>
        </div>
        <div class="body-con-div">
            <img src="https://www.bbraun.com.my/content/dam/b-braun/global/website/patients/infectionprevention/Icons_Corona_RGB_Zeichenfl%C3%A4che%201%20Kopie%205.jpg.transform/400/image.jpg" alt="" srcset="">
            <div class="con-div-text">
                <h3>Ventilate regularly</h3>
                <p>Clean your hands with an alcohol-based hand rub or wash your hands thoroughly with soap and water, 
                    especially before preparing food, before eating, or when you get home.</p>
            </div>
        </div>
        <div class="body-con-div">
            <img src="https://www.bbraun.com.my/content/dam/b-braun/global/website/patients/infectionprevention/Icons_Corona_RGB_Zeichenfl%C3%A4che%201%20Kopie%208.jpg.transform/400/image.jpg" alt="" srcset="">
            <div class="con-div-text">
                <h3>Keep your distance and avoid crowds</h3>
                <p>Keep the greatest possible distance from other people when coughing, at least 1 meter, to avoid breathing in droplets, 
                    which could include the novel coronavirus causing COVID-19, if the person is infected.</p>
            </div>
        </div>
        <div class="body-con-div">
            <img src="https://www.bbraun.com.my/content/dam/b-braun/global/website/patients/infectionprevention/Icons_Corona_RGB_Zeichenfl%C3%A4che%201%20Kopie%206.jpg.transform/400/image.jpg" alt="" srcset="">
            <div class="con-div-text">
                <h3>Pay attention to first symptoms</h3>
                <p>If you have a fever, cough, or difficulty breathing, see a doctor as soon as possible. 
                    Important: call beforehand so that you are directed straight to the right health facility and thus avoiding to get in touch with too many people.</p>
            </div>
        </div>
        <div class="body-con-div">
            <img src="https://www.bbraun.com.my/content/dam/b-braun/global/website/patients/infectionprevention/Icons_Corona_RGB_Zeichenfl%C3%A4che%201%20Kopie%207.jpg.transform/400/image.jpg" alt="" srcset="">
            <div class="con-div-text">
                <h3>Do not share objects</h3>
                <p>Avoid sharing objects and touching surfaces in public spaces as it is known that the novel coronavirus that causes COVID-19 remains on surfaces</p>
            </div>
        </div>
        <div class="body-con-div">
            <img src="https://www.bbraun.com.my/content/dam/b-braun/global/website/patients/infectionprevention/Icons_Corona_RGB_Zeichenfl%C3%A4che%201%20Kopie%209.jpg.transform/400/image.jpg" alt="" srcset="">
            <div class="con-div-text">
                <h3>When to use a face mask</h3>
                <p>The WHO recommends to wear a mask only when you are taking care of a person with suspected COVID-19 infection or when you are coughing or sneezing yourself. 
                    In this case the mask is to protect people around you.</p>
            </div>
        </div>
    </div>
    <footer class="footer-container">
        <div class="footer-top">
            <div class="footer-div-container">
                <h3 class="footer-h3">Service</h3>
                <ul class="footer-ul">
                    <a href="tel: +6012-3456789"><li class="footer-li">Call: +6012-3456789</li></a>
                    <a href="mailto:covid19@gamil.com"><li class="footer-li">Email: covid19@gamil.com</li></a>
                    <li class="footer-li">Linkedin: ken_037729@hotmail.com</li>
                </ul>
            </div>
            <div class="footer-div-container">
                <h3 class="footer-h3">Help</h3>
                <ul class="footer-ul">
                    <li class="footer-li">Help Center</li>
                    <li class="footer-li">Help Forum</li>
                    <li class="footer-li">Video Tutorials</li>
                </ul>
            </div>
            <div class="footer-div-container">
                <h3 class="footer-h3">Develpers</h3>
                <ul class="footer-ul">
                    <li class="footer-li">Developers API</li>
                    <li class="footer-li">Developer Forum</li>
                </ul>
            </div>
            <div class="footer-div-container">
                <h3 class="footer-h3">Community</h3>
                <ul class="footer-ul">
                    <li class="footer-li">Blogger Buzz</li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <p>Covid 19 © 2021</p> 
            <div class="footer-bottom-div" id="footer_i">
                <i class="fab fa-instagram-square"></i>
                <i class="fab fa-facebook"></i>
                <i class="fab fa-whatsapp-square"></i>
            </div>
        </div>
    </footer>
    <script src="../js/script.js"></script>
</body>
</html>