<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid 19 - Prevention</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/statistics.css">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" 
    integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
</head>
<body>
    <header class="navbar-container">
        <div id="logo" class="navbar-logo">
            Covid 19 Live Tracker<i class="fas fa-2x fa-virus"></i>
        </div>
        <div id="function-bar" class="navbar-function-container">
            <div class="navbar-function">
                <div id="con_symptoms" class="navbar-function-con">
                    <p id="nav_symptoms" class="navbar-function-p">Symptoms<i class="fas fa-head-side-cough"></i>
                </div>
                <div id="bar_symptoms" class="navbar-function-bar"></div>
            </div>
            <div class="navbar-function">
                <div id="con_statistics" class="navbar-function-con">
                    <p id="nav_statistics" class="navbar-function-p">Statistics<i class="fas fa-chart-pie"></i>
                </div>
                <div id="bar_statistics" class="navbar-function-bar"></div>
            </div>
            <div class="navbar-function">
                <div id="con_prevention" class="navbar-function-con">
                    <p id="nav_prevention" class="navbar-function-p">Prevention<i class="fas fa-people-arrows"></i>
                </div>
                <div id="bar_prevention" class="navbar-function-bar"></div>
            </div>
            <div class="navbar-function">
                <div id="con_treatment" class="navbar-function-con">
                    <p id="nav_treatment" class="navbar-function-p">Treatment<i class="fas fa-user-md"></i>
                </div>
                <div id="bar_treatment" class="navbar-function-bar"></div>
            </div>
        </div>
        <div id="side-menu-bar" class="navbar-side-menu">
            <i id="open-side" class="fas fa-2x fa-bars"></i>
            <i id="cancel-side" class="fas fa-2x fa-times"></i>
        </div>
    </header>
    <div id="side-menu" class="side-menu-container">
        <ul>
            <li id="side_symptoms">Symptoms<i class="fas fa-head-side-cough"></i></li>
            <li id="side_statistics">Statistics<i class="fas fa-chart-pie"></i></li>
            <li id="side_prevention">Prevention<i class="fas fa-people-arrows"></i></li>
            <li id="side_treatment">Treatment<i class="fas fa-user-md"></i></li>
        </ul>
    </div>
    <div class="sta-body-container">
        <canvas id="myChart"></canvas>
    </div>
    <footer class="footer-container">
        <div class="footer-top">
            <div class="footer-div-container">
                <h3 class="footer-h3">Service</h3>
                <ul class="footer-ul">
                    <a href="tel: +6012-3456789"><li class="footer-li">Call: +6012-3456789</li></a>
                    <a href="mailto:covid19@gamil.com"><li class="footer-li">Email: covid19@gamil.com</li></a>
                    <li class="footer-li">Linkedin: ken_037729@hotmail.com</li>
                </ul>
            </div>
            <div class="footer-div-container">
                <h3 class="footer-h3">Help</h3>
                <ul class="footer-ul">
                    <li class="footer-li">Help Center</li>
                    <li class="footer-li">Help Forum</li>
                    <li class="footer-li">Video Tutorials</li>
                </ul>
            </div>
            <div class="footer-div-container">
                <h3 class="footer-h3">Develpers</h3>
                <ul class="footer-ul">
                    <li class="footer-li">Developers API</li>
                    <li class="footer-li">Developer Forum</li>
                </ul>
            </div>
            <div class="footer-div-container">
                <h3 class="footer-h3">Community</h3>
                <ul class="footer-ul">
                    <li class="footer-li">Blogger Buzz</li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <p>Covid 19 © 2021</p> 
            <div class="footer-bottom-div" id="footer_i">
                <i class="fab fa-instagram-square"></i>
                <i class="fab fa-facebook"></i>
                <i class="fab fa-whatsapp-square"></i>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="../js/script.js"></script>
    <script src="../js/statistics.js"></script>
</body>
</html>