<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid 19 - Prevention</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/symptoms.css">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" 
    integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
</head>
<body>
    <header class="navbar-container">
        <div id="logo" class="navbar-logo">
            Covid 19 Live Tracker<i class="fas fa-2x fa-virus"></i>
        </div>
        <div id="function-bar" class="navbar-function-container">
            <div class="navbar-function">
                <div id="con_symptoms" class="navbar-function-con">
                    <p id="nav_symptoms" class="navbar-function-p">Symptoms<i class="fas fa-head-side-cough"></i>
                </div>
                <div id="bar_symptoms" class="navbar-function-bar"></div>
            </div>
            <div class="navbar-function">
                <div id="con_statistics" class="navbar-function-con">
                    <p id="nav_statistics" class="navbar-function-p">Statistics<i class="fas fa-chart-pie"></i>
                </div>
                <div id="bar_statistics" class="navbar-function-bar"></div>
            </div>
            <div class="navbar-function">
                <div id="con_prevention" class="navbar-function-con">
                    <p id="nav_prevention" class="navbar-function-p">Prevention<i class="fas fa-people-arrows"></i>
                </div>
                <div id="bar_prevention" class="navbar-function-bar"></div>
            </div>
            <div class="navbar-function">
                <div id="con_treatment" class="navbar-function-con">
                    <p id="nav_treatment" class="navbar-function-p">Treatment<i class="fas fa-user-md"></i>
                </div>
                <div id="bar_treatment" class="navbar-function-bar"></div>
            </div>
        </div>
        <div id="side-menu-bar" class="navbar-side-menu">
            <i id="open-side" class="fas fa-2x fa-bars"></i>
            <i id="cancel-side" class="fas fa-2x fa-times"></i>
        </div>
    </header>
    <div id="side-menu" class="side-menu-container">
        <ul>
            <li id="side_symptoms">Symptoms<i class="fas fa-head-side-cough"></i></li>
            <li id="side_statistics">Statistics<i class="fas fa-chart-pie"></i></li>
            <li id="side_prevention">Prevention<i class="fas fa-people-arrows"></i></li>
            <li id="side_treatment">Treatment<i class="fas fa-user-md"></i></li>
        </ul>
    </div>
    <div class="sym-body-container">
        <div class="body-con-div">
            <img src="https://i0.wp.com/post.medicalnewstoday.com/wp-content/uploads/sites/3/2020/09/woman-with-shortness-of-breath-1024x747.jpg?w=1155&h=1684" alt="">
            <div>
                <h3>Shortness of breath</h3>
                <p>Shortness of breath, or dyspnea, is an uncomfortable condition that makes it difficult to fully get air into your lungs. 
                    Problems with your heart and lungs can harm your breathing. 
                    Some people may experience shortness of breath suddenly for short periods of time.</p>
            </div>
        </div>
        <div class="body-con-div">
            <div>
                <h3>Dry cough</h3>
                <p>A dry cough is a cough that does not produce mucus or phlegm from the airways.
                    A person with a dry cough may experience a dry, scratchy, sore, or rough throat.
                    A dry cough is a common early symptom of COVID-19. According to some estimates, 
                    60–70%Trusted Source of people who develop COVID-19 symptoms experience a dry cough as an initial symptom.</p>
            </div>
            <img src="https://i0.wp.com/cdn-prod.medicalnewstoday.com/content/images/articles/324/324912/woman-coughing-due-to-a-dry-cough.jpg?w=1155&h=1701" alt="">
        </div>
        <div class="body-con-div">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRotPT_sTItczhVorV-KuDOkb8yN_wJnJBHHg&usqp=CAU" alt="">
            <div>
                <h3>Fever</h3>
                <p>Fever is a common symptom of COVID-19. However, not everyone who develops COVID-19 will experience fever.
                    One of the symptoms is losing your sense of smell or taste.
                    Many infections can cause fever, but if a person has a fever of 100.4°F (38°C) or above, they should stay at home and get medical advice. 
                    This is because the fever could be an early symptom of COVID-19.
                </p>
            </div>
        </div>
        <div class="body-con-div">
            <div>
                <h3>Lose of taste or smell</h3>
                <p>COVID-19, the respiratory disease caused by the new coronavirus, can have a variety of symptoms.
                    It’s not uncommon for upper respiratory infections such as the common cold or flu to affect our senses of smell and taste. In fact, 
                    it’s estimated that a temporary loss of smell happens in over 60 percentTrusted Source of colds and sinus infections.</p>
            </div>
            <img src="https://static.toiimg.com/photo/79176285.cms" alt="">
        </div>
        <div class="body-con-div">
            <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/766/chronic-fatigue-syndrome-main-1515511442.jpg" alt="">
            <div>
                <h3>Fatigue</h3>
                <p>Fatigue is a term used to describe an overall feeling of tiredness or lack of energy. 
                    It isn’t the same as simply feeling drowsy or sleepy.
                    Fatigue is a common symptom of many medical conditions that range in severity from mild to serious.
                    When recovering from COVID-19 (coronavirus), you may feel you need to sleep more or feel exhausted after only taking a short walk.
                </p>
            </div>
        </div>
    </div>
    <footer class="footer-container">
        <div class="footer-top">
            <div class="footer-div-container">
                <h3 class="footer-h3">Service</h3>
                <ul class="footer-ul">
                    <a href="tel: +6012-3456789"><li class="footer-li">Call: +6012-3456789</li></a>
                    <a href="mailto:covid19@gamil.com"><li class="footer-li">Email: covid19@gamil.com</li></a>
                    <li class="footer-li">Linkedin: ken_037729@hotmail.com</li>
                </ul>
            </div>
            <div class="footer-div-container">
                <h3 class="footer-h3">Help</h3>
                <ul class="footer-ul">
                    <li class="footer-li">Help Center</li>
                    <li class="footer-li">Help Forum</li>
                    <li class="footer-li">Video Tutorials</li>
                </ul>
            </div>
            <div class="footer-div-container">
                <h3 class="footer-h3">Develpers</h3>
                <ul class="footer-ul">
                    <li class="footer-li">Developers API</li>
                    <li class="footer-li">Developer Forum</li>
                </ul>
            </div>
            <div class="footer-div-container">
                <h3 class="footer-h3">Community</h3>
                <ul class="footer-ul">
                    <li class="footer-li">Blogger Buzz</li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <p>Covid 19 © 2021</p> 
            <div class="footer-bottom-div" id="footer_i">
                <i class="fab fa-instagram-square"></i>
                <i class="fab fa-facebook"></i>
                <i class="fab fa-whatsapp-square"></i>
            </div>
        </div>
    </footer>
    <script src="../js/script.js"></script>
</body>
</html>